<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated comb -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="comb.expression.metamodel.comb.presentation.CombModelWizardID"
            name="%_UI_CombModelWizard_label"
            class="comb.expression.metamodel.comb.presentation.CombModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CombModelFile.gif">
         <description>%_UI_CombModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated comb -->
      <editor
            id="comb.expression.metamodel.comb.presentation.CombEditorID"
            name="%_UI_CombEditor_label"
            icon="icons/full/obj16/CombModelFile.gif"
            extensions="comb"
            class="comb.expression.metamodel.comb.presentation.CombEditor"
            contributorClass="comb.expression.metamodel.comb.presentation.CombActionBarContributor">
      </editor>
   </extension>

</plugin>
