<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="comb.expression.design.Activator"
               id="comb.expression.design"
	       name="comb">
    </component>
  </extension>
</plugin>
