<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.save_automaton_as.AUTFormatHandler" name="AUT format"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.save_automaton_as.AUTFormatHandler" commandId="comb.generator.action.save_automaton_as.AUTFormatHandler"/>
    </extension>
    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.save_automaton_as.FSPFormatHandler" name="FSP format"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.save_automaton_as.FSPFormatHandler" commandId="comb.generator.action.save_automaton_as.FSPFormatHandler"/>
    </extension>
    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.save_automaton_as.SMFormatHandler" name="SM format"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.save_automaton_as.SMFormatHandler" commandId="comb.generator.action.save_automaton_as.SMFormatHandler"/>
    </extension>
    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.save_automaton_as.SpinFormatHandler" name="Spin format"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.save_automaton_as.SpinFormatHandler" commandId="comb.generator.action.save_automaton_as.SpinFormatHandler"/>
    </extension>
    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.save_automaton_as.XMLFormatHandler" name="XML format"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.save_automaton_as.XMLFormatHandler" commandId="comb.generator.action.save_automaton_as.XMLFormatHandler"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.SaveInterpretationsHandler" name="Save interpretations"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.SaveInterpretationsHandler" commandId="comb.generator.action.SaveInterpretationsHandler"/>
    </extension>
    
    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.ImportCombElement" name="Import Comb element"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.import_export.ImportCombElementHandler" commandId="comb.generator.action.ImportCombElement"/>
    </extension>
    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.ImportCombFile" name="Import Comb file"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.import_export.ImportCombFileHandler" commandId="comb.generator.action.ImportCombFile"/>
    </extension>
    
    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.ExportCombElement" name="Export Comb element"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.import_export.ExportCombElementHandler" commandId="comb.generator.action.ExportCombElement"/>
    </extension>
    <extension point="org.eclipse.ui.commands">
      <command id="comb.generator.action.ExportCombFile" name="Export Comb file"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.import_export.ExportCombFileHandler" commandId="comb.generator.action.ExportCombFile"/>
    </extension>
    
    <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu?after=additions">
    <menu label="Comb generator" id="comb-menu-model">  
    	<menu label="Save automaton as" id="comb-automaton-output-menu">
    	    <command commandId="comb.generator.action.save_automaton_as.AUTFormatHandler" label="AUT format" style="push">
	    		<visibleWhen checkEnabled="false">
              		<iterate>
                		<adapt
                       		type="comb.expression.metamodel.comb.Element">
                 		</adapt>
              		</iterate>
            	</visibleWhen>
	    	</command>
	    	<command commandId="comb.generator.action.save_automaton_as.FSPFormatHandler" label="FSP format" style="push">
	    		<visibleWhen checkEnabled="false">
              		<iterate>
                		<adapt
                       		type="comb.expression.metamodel.comb.Element">
                 		</adapt>
              		</iterate>
            	</visibleWhen>
	    	</command>
	    	<command commandId="comb.generator.action.save_automaton_as.SMFormatHandler" label="SM format" style="push">
	    		<visibleWhen checkEnabled="false">
              		<iterate>
                		<adapt
                       		type="comb.expression.metamodel.comb.Element">
                 		</adapt>
              		</iterate>
            	</visibleWhen>
	    	</command>
    		<command commandId="comb.generator.action.save_automaton_as.SpinFormatHandler" label="Spin format" style="push">
	    		<visibleWhen checkEnabled="false">
              		<iterate>
                		<adapt
                       		type="comb.expression.metamodel.comb.Element">
                 		</adapt>
              		</iterate>
            	</visibleWhen>
	    	</command> 
	    	<command commandId="comb.generator.action.save_automaton_as.XMLFormatHandler" label="XML format" style="push">
	    		<visibleWhen checkEnabled="false">
              		<iterate>
                		<adapt
                       		type="comb.expression.metamodel.comb.Element">
                 		</adapt>
              		</iterate>
            	</visibleWhen>
	    	</command>  
    	</menu>
	    	
	    <command commandId="comb.generator.action.SaveInterpretationsHandler" label="Save interpretations" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <adapt
                       type="comb.expression.metamodel.comb.Element">
                 </adapt>
              </iterate>
            </visibleWhen>
	    </command>
	    
	    <command commandId="comb.generator.action.ImportCombElement" label="Import" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <adapt
                       type="comb.expression.metamodel.comb.Element">
                 </adapt>
              </iterate>
            </visibleWhen>
	    </command>
	    <command commandId="comb.generator.action.ImportCombFile" label="Import" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <test
				       property="org.eclipse.core.resources.name"
				       value="*.comb">
				 </test>
              </iterate>
            </visibleWhen>
	    </command>
	    <command commandId="comb.generator.action.ExportCombElement" label="Export" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <adapt
                       type="comb.expression.metamodel.comb.Element">
                 </adapt>
              </iterate>
            </visibleWhen>
	    </command>
	    <command commandId="comb.generator.action.ExportCombFile" label="Export" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <test
				       property="org.eclipse.core.resources.name"
				       value="*.comb">
				 </test>
              </iterate>
            </visibleWhen>
	    </command>
      </menu>
    </menuContribution>
  </extension>
</plugin>
