<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.commands">
      <command id="FSP_format" name="FSP format"/>
      <command id="SM_format" name="SM format"/>
      <command id="Spin_format" name="Spin format"/>
      <command id="XML_format" name="XML format"/>
      
      <command id="Save_Interpretations" name="Save interpretations"/>
      
      <command id="Import_Comb_element" name="Import Comb element"/>
      <command id="Import_Comb_file" name="Import Comb file"/>
      <command id="Export_Comb_element" name="Export Comb element"/>
      <command id="Export_Comb_file" name="Export Comb file"/>
    </extension>
    
    
    
    <extension point="org.eclipse.ui.handlers">
      <handler class="comb.generator.action.automaton.FSPFormatHandler" commandId="FSP_format"/>
      <handler class="comb.generator.action.automaton.SMFormatHandler" commandId="SM_format"/>
      <handler class="comb.generator.action.automaton.SpinFormatHandler" commandId="Spin_format"/>
      <handler class="comb.generator.action.automaton.XMLFormatHandler" commandId="XML_format"/>
      
      <handler class="comb.generator.action.SaveInterpretationsHandler" commandId="Save_Interpretations"/>
      
      <handler class="comb.generator.action.import_export.ImportCombElementHandler" commandId="Import_Comb_element"/>
      <handler class="comb.generator.action.import_export.ImportCombFileHandler" commandId="Import_Comb_file"/>
      <handler class="comb.generator.action.import_export.ExportCombElementHandler" commandId="Export_Comb_element"/>
      <handler class="comb.generator.action.import_export.ExportCombFileHandler" commandId="Export_Comb_file"/>
    </extension>
    
    <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu?after=additions">
    <menu label="Comb generator" id="comb-menu-model">  
    	<menu label="Save automaton as" id="comb-automaton-output-menu">
	    	<command commandId="FSP_format" label="FSP format" style="push">
	    		<visibleWhen checkEnabled="false">
              		<iterate>
                		<adapt
                       		type="comb.expression.metamodel.comb.Element">
                 		</adapt>
              		</iterate>
            	</visibleWhen>
	    	</command>
	    	<command commandId="SM_format" label="SM format" style="push">
	    		<visibleWhen checkEnabled="false">
              		<iterate>
                		<adapt
                       		type="comb.expression.metamodel.comb.Element">
                 		</adapt>
              		</iterate>
            	</visibleWhen>
	    	</command>
    		<command commandId="Spin_format" label="Spin format" style="push">
	    		<visibleWhen checkEnabled="false">
              		<iterate>
                		<adapt
                       		type="comb.expression.metamodel.comb.Element">
                 		</adapt>
              		</iterate>
            	</visibleWhen>
	    	</command> 
	    	<command commandId="XML_format" label="XML format" style="push">
	    		<visibleWhen checkEnabled="false">
              		<iterate>
                		<adapt
                       		type="comb.expression.metamodel.comb.Element">
                 		</adapt>
              		</iterate>
            	</visibleWhen>
	    	</command>  
    	</menu>
	    	
	    <command commandId="Save_Interpretations" label="Save interpretations" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <adapt
                       type="comb.expression.metamodel.comb.Element">
                 </adapt>
              </iterate>
            </visibleWhen>
	    </command>
	    
	    <command commandId="Import_Comb_element" label="Import" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <adapt
                       type="comb.expression.metamodel.comb.Element">
                 </adapt>
              </iterate>
            </visibleWhen>
	    </command>
	    <command commandId="Import_Comb_file" label="Import" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <test
				       property="org.eclipse.core.resources.name"
				       value="*.comb">
				 </test>
              </iterate>
            </visibleWhen>
	    </command>
	    <command commandId="Export_Comb_element" label="Export" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <adapt
                       type="comb.expression.metamodel.comb.Element">
                 </adapt>
              </iterate>
            </visibleWhen>
	    </command>
	    <command commandId="Export_Comb_file" label="Export" style="push">
	    	<visibleWhen checkEnabled="false">
              <iterate>
                 <test
				       property="org.eclipse.core.resources.name"
				       value="*.comb">
				 </test>
              </iterate>
            </visibleWhen>
	    </command>
      </menu>
    </menuContribution>
  </extension>
</plugin>
